* {
    padding: 0;
    margin: 0;
    background-color: #0f0f0f;
    color: #fff;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}
 nav a {
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    transition: 0.3s;
 }
 nav a:hover {
    color: #ff4b2b;
    transform: scale(1.4);
 }
 
.fade-in {
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}
button {
    border: none;
    background-color: #ff4b2b;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    border-radius: 30px;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.1);
} 
